@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.modal-anim {
  animation: modal-opacity 0.4s forwards;
}

.modal-bg {
  animation: modal-bg 0.4s forwards;
}

@keyframes modal-opacity {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modal-bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
