@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: -webkit-fill-available;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(244, 244, 245);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-anim {
  animation: modal-opacity 0.4s forwards;
}

.modal-bg {
  animation: modal-bg 0.4s forwards;
}

.sign-loading {
  @apply bg-blue-500;

  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  animation: sign-anim 2.5s infinite ease-in-out;
}

.hamburger-menu {
  width: 30px;
  height: 30px;
  position: relative;
  justify-content: end;
  align-items: center;
  transition: all;
}

.hamburger-menu::after,
.hamburger-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #363636;
  transition: 0.25s all;
  border-radius: 1rem;
}

.hamburger-menu::before {
  transform: translateY(10px);
  width: 80%;
}

.hamburger-menu::after {
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #363636;
}

.hamburger-menu.active::before {
  transform: rotate(45deg);
  width: 100%;
}

.hamburger-menu.active::after {
  transform: rotate(-45deg);
  box-shadow: none;
}

@keyframes modal-opacity {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modal-bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sign-anim {
  0% {
    width: 0%;
    left: 0;
  }

  20% {
    width: 100%;
    left: 0;
  }

  40% {
    width: 0%;
    left: 100%;
  }

  60% {
    width: 100%;
    left: 0;
  }

  80% {
    width: 0;
    left: 0;
  }
  100% {
    width: 0;
    left: 0;
  }
}
